h1{
    color: green;
}

#paragrafo-especial{
    color: red;
    font-size: 16px;
}

.paragrafo-normal{
    color: blue;
}

body{
    background-color: aliceblue;
}

div{
    border: 2px solid green;
    height: 200px;
}

div p {
    background-color: cyan;
}